:root {
    --bg: #262626;
    --bfAlt: #333430;
    --mainColor: #dce38d;
    --mainColorAlt: #f6f2cd;
}

*{
    background: var(--bg);
}

.main-container {
    margin: 50px;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 5px;
}


.exercise, img{
    width: 100px;
    height: 50px;
}

